#title {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #66ff99;
	font-family: cursive;
	text-align: center;
	width: 100%;
}
#title1
	{
		
		display: block;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #ff6600;
		width: 100%;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

.fruit-img {
  	height: 80px;
  	width: 75px;
  	margin-right: 20px;
  	margin-bottom: 16px;
 	border-radius: 50%;
	border-style: outset;
	border-color: #ffcc00;
	border-width: 5px;
	transition: transform 1.5s;
	}
.fruit-img:hover
			{
				transform: rotateY(540deg);
			}

body {
	background-color: #ffffcc;
}

#navigation-bar
			{
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
				background-color: #ff6600;
				width: 100%;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}

#navigation-bar a
			{
				float: left;
				display: block;
				color: black;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
				border-right: 3px solid #800000;
				
			}

#navigation-bar a:hover:not(.active)
			{
				background-color: #ffcc00;
			}

.active
			{
				background-color: #ffcc00;
			}

#float-left{
	float: left;
}

#middle-align{
	float: right;
}
#home-pic
			{
				margin-left: auto;
				margin-right: auto;
				margin-top: auto;
				margin-bottom: auto;
				display: block;
				border-radius: 90%;
				border-style: outset;
				border-color: #ffcc00;
				border-width: 5px;
				position: center;
			}
			