#title {
	background-color: white;
	font-family: cursive;
	text-align: center;
}

.fruit-img {
  height: 80px;
  width: 75px;
  margin-right: 20px;
  margin-bottom: 16px;
}

#container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 30px;
}

#content {
	padding: 10px
}

body {
	background-color: #ffffcc;
}

#copyright {
	clear:both;
}


#navigation_bar
			{
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
				background-color: #ff6600;
				width: 100%;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}

#navigation-bar a
			{
				float: left;
				display: block;
				color: black;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
				border-right: 3px solid #800000;
				
			}

#navigation-bar a:hover:not(.active)
			{
				background-color: #ffcc00;
			}

.active
			{
				background-color: #ffcc00;
			}
#home_pic
			{
				display: block;
				border-radius: 90%;
				border-style: outset;
				border-color: #ffcc00;
				border-width: 5px;
				position: center;
			}



#float-left{
	float: left;
}

#middle-align{
	float: left;
}
