<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href = "main.css" type="text/css">
	<meta charset="UTF-8">
	<title>Get Buff, Get Cuffed</title>
</head>
<body>
		<div class = "links">
		<div id="title">
		<a href="index.html"><img src="https://png.pngtree.com/element_origin_min_pic/16/06/14/20575ff8bfa85be.jpg" alt="Buff boi" width=100 height=100>
		</a>
		<h1>Get Buff, Get Cuffed</h1>
		<div class="links">
			<a href="/">Home</a>
			<a href="/about">About</a>
			<a href="/admin">Administrator</a>
		</div>
	</div>
		<div id="information space">

		</div>
		<div id="about_us">
			<h1>Who are we?</h1>
			We are a group comprised of members of the Asian-American Student Union of Florida State University. Right now, our mission is to travel to as many hackathons as possible to network with potential employers and gain programming experience. We believe that by getting more experience and connections, we will be able to better navigate the industry and find opportunities beyond University.
		</div>
	<div id="contact_info">
		<h1>Contact Us</h1>
		<h3>Phat Tran:</h3>
		Major: Computer Science <br>
		Phone Number: (850) 345-2391 <br>
		Email: ptt17@my.fsu.edu <br>

		<h3>Andres Ponciano</h3>
		Major: Computer Science <br>
		Phone Number: (850) 405-3042 <br>
		Email: ap17x@my.fsu.edu <br>

		<h3>Kyle Lu</h3>
		Major: Computer Science <br>
		Phone Number: (954) 778-6322 <br>
		Email: kjl17@my.fsu.edu <br>

		<h3>Kevin Nguyen</h3>
		Major: Computer Science <br>
		Phone Number: (678) 314-6123 <br>
		Email: ktn16b@my.fsu.edu <br>

		<h3>Kevin Tran</h3>
		Major: Computer Science <br>
		Phone Number: (850) 405-0908 <br>
		Email: kt16m@my.fsu.edu <br>



	</div>
	
</body>
</html>