<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href = "static/style.css" type="text/css">
	<meta charset="UTF-8">
	<title>Get Buff, Get Cuffed</title>
</head>
<body>
		<div class = "links">
		<div id="title">
		<a href="index.html"><img src="https://png.pngtree.com/element_origin_min_pic/16/06/14/20575ff8bfa85be.jpg" alt="Buff boi" width=100 height=100>
		</a>
		<h1>Get Buff, Get Cuffed</h1>
		<div class="links">
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/admin">Administrator</a>
		</div>
	</div>

		<div id="content">
			<div id="navigation">	
			</div>	
			
			</div>
		</div>
	</div>
	
</body>
</html>