<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<a href="/home">Home</a>
	<a href="/admin">Administrator</a>
	<a href="/about">About</a>
	<form method="POST" action="http://localhost:5000">
		Import food<br>
		Name : <input type="text" name="food_name"><br>
		Image : <input type="text" name="Image"><br>
		Calories per unit : <input type="text" name="cal"><br>
		Protein per unit : <input type="text" name="protein"><br>
		Fat per unit : <input type="text" name="fat"><br>
		Carbohydrate per unit : <input type="text" name="carb"><br>

		<input type="submit" name="Import">
	</form>
</body>
</html>