<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href = "static/style.css" type="text/css">
	<meta charset="UTF-8">
	<title>Get Buff, Get Cuffed</title>
</head>
<body>
	<a href="/">Home</a>
	<a href="/about">About</a>
	<a href="/admin">Administrator</a>
	
	<div id="container">
		<div id="title">
		<a href="homepage.html"><img src="https://png.pngtree.com/element_origin_min_pic/16/06/14/20575ff8bfa85be.jpg" alt="Buff boi" width=100 height=100>
		</a>
		<h1>Get Buff, Get Cuffed<h1>
		</div>
		<p>Please enter your desired ingredients below to generate a recipe(s)!</p>
		

		<div id="content">
			<div id="navigation">
			</div>	
			<!--<div id="food_entry">
				Food is what people and animals eat to survive. Food usually comes from animals or plants. It is eaten by living things to provide energy and nutrition.[1] Food contains the nutrition that people and animals need to be healthy. The consumption of food is enjoyable to humans. It contains protein, fat, carbohydrates, vitamins, and minerals. Liquids used for energy and nutrition are often called "drinks". If someone cannot afford food they go hungry.

				Food for humans is mostly made through farming or gardening. It includes animal and vegetable sources. Some people refuse to eat food from animal origin, like meat, eggs, and products with milk in them. Not eating meat is called vegetarianism. Not eating or using any animal products is called veganism.-->
			</div>
		</div>
	</div>
	


	<div>
		<form method="POST" action="/result">
			<h1> Ingredients </h1><br>
			{% for food in food_l %}	
			<li>
				{{ food.name }}
				<!--{{ food.image_file}}<a href="{{ url_for('chosen', id=food.id)}}"> -->
				<img class = "fruit-img" src="{{ url_for('static', filename='pictures/' + food.image_file) }}" width = 50 height=50>
				<a href="{{ url_for('chosen', id= food.id)}}"> Add </a>
			</li>
			{% endfor %}

			<h1> Ingredients picked </h1>
			{% for food in chosen %}
			<li>
				{{ food.name }}
				<img class = "fruit-img" src="{{ url_for('static', filename='pictures/' + food.image_file) }}" width = 50 height=50>
				<a href="{{ url_for('remove', id=food.id)}}">    Remove</a>
			</li>
			{% endfor %}

			<input type="submit" name="submit_button">
		</form>
	</div>

	<div id=copyright>
	Copyright &copy; 2019 csbois.
	</div>

</body>
</html>