{% extends "layout.html" %}
{% block content %}
	<div>
		<form method="POST" action="/result">
			<div id="float-left">
			<h1 class = "ingredients-heading"> Ingredients </h1><br>
			{% for food in food_l %}		
			<li>
				<a href="{{ url_for('chosen', id= food.id)}}">
					<img class = "fruit-img" src="{{ url_for('static', filename='pictures/' + food.image_file) }}" width = 50 height=50> 
				</a>
				<b>{{ food.name }}</b> 
			</li>
			{% endfor %}
			</div>

			<div id="middle-align">
			<h1 class = "ingredients-heading"> Ingredients picked </h1>
			{% for food in chosen %}
			<li>
				<a href="{{ url_for('remove', id=food.id)}}">
					<img class = "fruit-img" src="{{ url_for('static', filename='pictures/' + food.image_file) }}" width = 50 height=50>
			     	
				</a>
				<b>{{ food.name }}</b>
			</li>
			{% endfor %}
			</div>
		
			<div id="middle-align">
			<h1 class = "ingredients-heading"> Click to generate your recipe! </h2>
			<input type="submit" name="submit_button" value ="Generate Recipe">
			</div>
		</form>
	</div>

	<div id=copyright>
	Copyright &copy; 2019 csbois.
	</div>
{% endblock content%}